.whole {
  margin-left: 25vw;
  margin-right: 25vw;
  align-items: center;
}

.whole > * {
  padding: 1%;
}

.scales-up {
  transition: transform 750ms ease-in-out;
}

.guess {
  font-size: 36pt;
  font-weight: 800;
  text-align: center;
  transition: transform 500ms linear, filter 3s linear;
}

#guess-btn {
  transition: transform 100ms ease-in-out;
  transform: scale(0.9);
}

#guessed-already {
  font-family: 'DM Mono', monospace;
  font-weight: 500;
  background: #ccc;
  padding: 2%;

}

#barracks {
  height: 50vh;
}

#drawing {
  height: 100%;
  width: 100%;
}

#answer {
  font-family: 'DM Mono', monospace;
  font-weight: 300;
  font-size: 4.2vw;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 600px) {
  #answer {
    font-family: monospace;
    font-size: 22pt;
    letter-spacing: 0.1em;
  }
}
