html
head
style(type="text/css").
  table, th, tr, td {
    min-width: 400px;
    min-height: 200px;
    border: 1px solid black;
    padding: 7px;
    border-collapse: collapse;
  }
title Search Results

body
h2 Search Results 


if (nResults == 0)
  h4 No results
else
  table
    th
      each key in keys
          td= key
    each val in vals
      tr
        each v in val
          td= v 
